<%= stylesheet_link_tag "battlebags.css"%>

<head>


    
</head>

<ul class="cards">
<% if @bagmon1 && @bagmon2 %>
<li>
  <a href="/bagmons" class="card"> 
    <img class="card__image" src=<%= @winnerImg %> />
    <div class="card__overlay">
      <div class="card__header">
        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
        <div class="card__header-text">
          <h3 class="card__title"><%= @winnerName %></h3>            
          <span class="card__status"> Venceu o duelo!</span>
        </div>
      </div>
      <p class="card__description"><%= @winnerName %></p>
    </div>
  </a>      
</li>
<div id="myModal" class="modal">

  <div class="modal-content">
            <% @rounds.each do |round| %>
            <p style='margin: 5px'><%= round %></p>
<% end %> 
</div>   
</ul>

<script>

var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
  document.querySelector("body").style.overflow = 'hidden';
}

span.onclick = function() {
  modal.style.display = "none";
  document.querySelector("body").style.overflow = 'auto';
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>


<% else %>


<div class="title"> 
  <div class="container-global">
    <form action="/battle">
      <div class="select">
        <div class="selectdiv">
          <label for="bagmon1" style='font-weight: bold; margin-right: 10px'>Bagmon 01</label>
          <select id="bagmon1" required  name="bagmon1">
            <option selected disabled>Selecione...</option>
            <% @bagmons.each do |bagmon| %>
            <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
            <% end %>
          </select>
        </div> 
          <div class="selectdiv">
            <label for="bagmon2" style='font-weight: bold; margin-right: 10px'>Bagmon 02</label>
              <select id="bagmon2" required name="bagmon2">
                <option selected disabled>Selecione...</option>
                <% @bagmons.each do |bagmon| %>
                <option value="<%= bagmon.id %>"><%= bagmon.name %></option>
                <% end %>
              </select>
          </div> 
      </div>
      <button class="fill">Batalhar</button>
    </form>
  </div class="container-global">
<% end %>
