<%= stylesheet_link_tag "editbag.css" %>
<head>
  <style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular;
  }

  .img-tst {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    object-fit: contain;
  }

  .mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    font-size: 22px;
  }

  .btn {
    margin-top: 20px;
    text-align: center;
  }

  .btn button {
    padding: 5px;
    background-color: #32324f;
    color: #000;
    font-size: 15px;
    border: none;
    width: 100px;
    border-radius: 5px;
  }

  .btn .back-btn {
    padding: 5px;
    background-color: #369e35;
    color: #000;
    font-size: 15px;
    margin-right: 20px;
    border: none;
    width: 100px;
    border-radius: 5px;
  }

  .input-box .btn .btn-delete {
    padding: 5px;
    background-color: #800000;
    color: #000;
    font-size: 15px;
    border: none;
    width: 100px;
    border-radius: 5px;
  }

  .mainImage p {
    color: #32324f;
  }

  .ttitle{
    padding:200px;
  }

  </style>
</head>

<body>
  
  <div class="mainImage">

  <div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img src=<%= @bagmon.image %> >
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3><%= @bagmon.number %> - <%= @bagmon.name %></h3>
    <div>
      <%= @bagmon.type.name %>
  </div>
  </div>

  <div class="btn">
    <button class="back-btn"> <%= link_to 'Voltar', bagmons_path %> </button>
    <button> <%= link_to 'Editar', edit_bagmon_path(@bagmon) %> </button>
  </div>
  
  </div>
  <div class="input-box">
                        <div class="btn">
                            <button class='btn-delete'> <%= link_to 'Excluir', @bagmon, method: :delete, data: { confirm: 'Confirma a exclusão do Bagmon?' } %> </button>
                        </div>
                    </div>

</body>


